// To eliminate confusion when making changes, use a two-tier system. First,
// Define descriptive variables with actual values, then functional variables
// set to those descriptive variables. Global or project-wide variables are
// defined before variables grouped according to modules.

// Global Variables
// ================

// Scaling Variables
$golden:           1.618;
$minor-second:     1.067;
$major-second:     1.125;
$minor-third:      1.2;
$major-third:      1.25;
$perfect-fourth:   1.333;
$augmented-fourth: 1.414;
$perfect-fifth:    1.5;
$minor-sixth:      1.6;
$major-sixth:      1.667;
$minor-seventh:    1.778;
$major-seventh:    1.875;
$octave:           2;
$major-tenth:      2.5;
$major-eleventh:   2.667;
$major-twelfth:    3;
$double-octave:    4;

$ratio: $golden;


// Type
$base-font-size: 16; // Default font size on html element is 100%, equivalent to 16px;
$font-size: 16; // Font size on body element
$line-height: ceil($font-size * $ratio);

$doc-font-size: $font-size;
$doc-line-height: $line-height * 1px;


// Modular Scale
$imprt-no: 528; // Gldilocks approach

$modular-scale-ratio: $ratio;
$modular-scale-value: $doc-font-size $imprt-no; // Ideal text size + Important number


// Grids
$gutter-width: 16;

$doc-gutter: $gutter-width * 1px;
$doc-gutter-half: ($doc-gutter / 2);


// Directionality
$start: left;
$end: right;

$text-start: $start;
$text-end: $end;
$float-default: $start;
$float-opposite: $end;
$clear-start: $start;
$clear-end: $end;


// Font-family
$pri-font-family: Georgia, 'Nimbus Roman No9 L', Times, "Times New Roman", serif;
$sec-font-family: 'Helvetica Neue W02 55 Roman', HelveticaNeue-Roman, 'Helvetica Neue Roman', HelveticaNeue, Helvetica, Arial, sans-serif;

$font-body: $pri-font-family;
$font-title: $sec-font-family;


// Font-size
$giga: 287; // modular scale 12
$mega: 177; // modular scale 10
$kilo: 110; // modular scale 8
$alpha: 68; // modular scale 6
$beta: 42; // modular scale 4
$gamma: 26; // modular scale 2
$milli: 11; // modular scale -1


$font-size-giga: $giga * 1px;
$font-size-mega: $mega * 1px;
$font-size-kilo: $kilo * 1px;
$font-size-alpha: $alpha * 1px;
$font-size-beta: $beta * 1px;
$font-size-gamma: $gamma * 1px;
$font-size-delta: $doc-font-size * 1px;
$font-size-epsilon: $doc-font-size * 1px;
$font-size-zeta: $doc-font-size * 1px;
$font-size-milli: $milli * 1px;


// Vertical Rhythm
$btm-marg: $line-height * 1px;


// Line-height
$giga-height: $doc-line-height * 13; // 338
$mega-height: $doc-line-height * 8; // 208
$kilo-height: $doc-line-height * 5; // 130
$alpha-height: $doc-line-height * 3; // 78
$beta-height: $doc-line-height * 2; // 52
$gamma-height: $doc-line-height; // 26
$milli-height: $doc-line-height; // 26


$line-height-giga: $giga-height;
$line-height-mega: $mega-height;
$line-height-kilo: $kilo-height;
$line-height-alpha: $alpha-height;
$line-height-beta: $beta-height;
$line-height-gamma: $gamma-height;
$line-height-delta: $doc-line-height;
$line-height-epsilon: $doc-line-height;
$line-height-zeta: $doc-line-height;
$line-height-milli: $milli-height;


// Font-weight
$extra-light: 100;
$light: 200;
$demi: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 800;
$extra-black: 900;

$type-heading: $normal;
$type-subheading: $bold;
$type-body: $normal;
$type-bold: $bold;


// Z-index
$un: 1;
$deux: 2;
$trois: 3;
$quatre: 4;
$cinq: 5;


$z-depth: (
  (z-depth-0, $un),
  (z-depth-2, $deux),
  (z-depth-3, $trois),
  (z-depth-4, $quatre),
  (z-depth-5, $cinq),
);

