// To eliminate confusion when making changes, use a two-tier system. First,
// Define descriptive variables with actual values, then functional variables
// set to those descriptive variables. Global or project-wide variables are
// defined before variables grouped according to modules.

// Global Variables
// ================

// Scaling Variables
$golden:           1.618;
$minor-second:     1.067;
$major-second:     1.125;
$minor-third:      1.2;
$major-third:      1.25;
$perfect-fourth:   1.333;
$augmented-fourth: 1.414;
$perfect-fifth:    1.5;
$minor-sixth:      1.6;
$major-sixth:      1.667;
$minor-seventh:    1.778;
$major-seventh:    1.875;
$octave:           2;
$major-tenth:      2.5;
$major-eleventh:   2.667;
$major-twelfth:    3;
$double-octave:    4;

$ratio: $golden;


// Type
$base-font-size: 16;// Default font size on html element is 100%, equivalent to 16px;
$doc-font-size: 16; // Font size on body element
$doc-line-height: ceil($doc-font-size * $ratio);


  // Modular Scale
  $imprt-no: 528; // Gldilocks approach

  $modular-scale-ratio: $ratio;
  $modular-scale-value: $doc-font-size $imprt-no; // Ideal text size + Important number


  // Grids
  $gutter-width: 16;

  $doc-gutter: $gutter-width * 1px;
  $doc-gutter-half: ($gutter-width / 2) * 1px;


// Directionality
$direction: (
  (start, left),
  (end, right),
);


// Font-family
$pri-font-family: Georgia, 'Nimbus Roman No9 L', Times, "Times New Roman", serif;
$sec-font-family: 'Helvetica Neue W02 55 Roman', HelveticaNeue-Roman, 'Helvetica Neue Roman', HelveticaNeue, Helvetica, Arial, sans-serif;

$font: (
  (body, $pri-font-family),
  (title, $sec-font-family),
);


// Font-weight
$extra-light: 100;
$light: 200;
$demi: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 800;
$extra-black: 900;

$type: (
  (heading, $bold),
  (subheading, $normal),
  (body, $normal),
  (bold, $bold),
);


// Font-size
$font-size: (
  (giga, 17.938em),
  (mega, 11.063em),
  (kilo, 6.875em),
  (alpha, 4.25em),
  (beta, 2.625em),
  (gamma, 1.625em),
  (delta, 1em),
  (epsilon, 1em),
  (zeta, 1em),
  (milli, .688em),
);


// Vertical Rhythm
$btm-marg: $doc-line-height * 1px;


// Line-height
$line-height: (
  (giga, 1.178em),
  (mega, 1.627em),
  (kilo, 1.182em),
  (alpha, 1.147em),
  (beta, 1.238em),
  (gamma, 1em),
  (delta, inherit),
  (epsilon, inherit),
  (zeta, inherit),
  (milli, 2.364em),
);


// Z-index
$z: (
  (depth-0, 1),
  (depth-2, 2),
  (depth-3, 3),
  (depth-4, 4),
  (depth-5, 5),
);

