// Pixel to rem
//
// Converts a px value to rem, accepts an array.
//
// Parameters:
// ```scss
// $values : number in px
// ```
// 
// Usage:
// ```scss
// .example {
//   font-size: lime-rem(16px) * 4;
// }
//
// .example2 {
//   padding: lime-rem(16px 12 20% 1em);
// }
// ```
//
// **Requires** : _variables, _strip-unit
//
// Adapted from [OOCSS](http://davidtheclark.github.io/scut/rem.html)
//
// Styleguide 1.3

@function lime-rem($values) {
  $list: ();
  @each $value in $values {
    // Ignore unitless values, auto and other units except px
    @if $value != auto and unit($value) == px {
      $rem-value: (lime-strip-unit($value) / lime-strip-unit($doc-font-size)) * 1rem;
      $list: append($list, $rem-value);
    } @else {
      $list: append($list, $value);
    }
  }
  // Return a single value that can be used in calculations
  @if length($list) == 1 {
    @return nth($list, 1);
  } @else {
    @return $list;
  }
}

