// Pixel to em
//
// Converts a px value to em, accepts an array.
//
// Parameters:
// ```scss
// $values  : number in px
// $context : base font size, in em or px. Predefined as $doc-font-size
// ```
// 
// Usage:
// ```scss
// .example {
//   padding: lime-em(12px, 16) * 3;
// }
//
// .example2 {
//   padding: lime-em(16px 20 20% 1em, 1em);
// }
// ```
//
// **Requires** : _variables, _strip-unit
//
// Adapted from [SCUT](http://davidtheclark.github.io/scut/em.html)
// and [OOCSS](https://github.com/stubbornella/oocss)
//
// Styleguide 1.2

@function lime-em($values, $context: $doc-font-size) {
  $multiplier: if(unit($context) == em, $doc-font-size, 1);
  $divisor: lime-strip-unit($context) * $multiplier;
  $list: ();
  @each $value in $values {
    // Ignore unitless values, auto and other units except px
    @if $value != auto and unit($value) == px {
      $em-value: lime-strip-unit($value) / $divisor * 1em;
      $list: append($list, $em-value);
    } @else {
      $list: append($list, $value);
    }
  }
  // Return a single value that can be used in calculations
  @if length($list) == 1 {
    @return nth($list, 1);
  } @else {
    @return $list;
  }
}


