// Variables
//
// Use a two-tier system — with both functional and descriptive variable names, as appropriate.


// breakpoints
$breakpoints: (
  goldilocks: 528px,
  little: 320px,
  small: 360px,
  wee: 480px,
  baby-bear: 800px,
  middle-sized: 1024px,
  mama-bear: 1152px,
  great: 1280px,
  huge: 1600px,
  papa-bear: 1920px,
);


// grid
$doc-gutter: 1rem;


// radii
$radii: (
  h: 3px,
  xh: 6px,
  xxh: 10px,
  full: 50%,
);
// used by radii placeholders:
// @include lime-loop($radii, border-radius, $namespace: radii);


// direction
$direction: (
  start: left,
  end: right,
);
// used by float and clear placeholders:
// @include lime-loop($direction, float, float);
// @include lime-loop($direction, clear, clear);


// z-index : 0=canvas, 1=background, 2=base; 3=fore; 4=overlay; 5=peak;
$z: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
);
// used by z-index placeholders:
// @include lime-loop($z, z-index, depth);


// type : [modular scale](http://www.modularscale.com/?16,528&&1.618&web&text)
$doc-font-size: 16px; // font size on root element


// font-size
$font-size: (
  giga: 6.875em,
  mega: 4.813em,
  kilo: 4.25em,
  alpha: 3em,
  beta: 2.625em,
  gamma: 1.813em,
  delta: 1.625em,
  epsilon: 1.125em,
  zeta: 1em,
  milli: .625em,
);


// vertical rhythm
$doc-baseline: 1.625rem;


// line height
$line-height: (
  giga: 7.313rem,
  mega: 4.875rem,
  kilo: 4.875rem,
  alpha: 3.25rem,
  beta: 3.25rem,
  gamma: 2.438rem,
  delta: 2.438rem,
  epsilon: $doc-baseline,
  zeta: $doc-baseline,
  milli: .813rem,
);


// font-family
$pri-font: Georgia, 'Nimbus Roman No9 L', Times, "Times New Roman", serif;
$sec-font: 'Helvetica Neue W02 55 Roman', HelveticaNeue-Roman, 'Helvetica Neue Roman', HelveticaNeue, Helvetica, Arial, sans-serif;

$font: (
  body: $pri-font,
  title: $sec-font,
);
// used by font-family placeholders:
// @include lime-loop($font, font-family, $namespace: font);


// font-weight
$extra-light: 100;
$light: 200;
$demi: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 800;
$extra-black: 900;

$type: (
  heading: $bold,
  subheading: $light,
  body: $normal,
  bold: $bold,
);
// used by font-weight placeholders:
// @include lime-loop($type, font-weight, $namespace: type);


// shadows
$shadows: (
  depth-1: 0 1px 4px 0 rgba(0, 0, 0, .37),
  depth-2: (0 2px 2px 0 rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .3)),
  depth-3: (0 11px 7px 0 rgba(0, 0, 0, .19), 0 13px 25px 0 rgba(0, 0, 0, .3)),
  depth-4: (0 14px 12px 0 rgba(0, 0, 0, .17), 0 20px 40px 0 rgba(0, 0, 0, .3)),
  depth-5: (0 17px 17px 0 rgba(0, 0, 0, .15), 0 27px 55px 0 rgba(0, 0, 0, .3)),
);
// used by box-shadow placeholders:
// @include lime-loop($shadows, box-shadow, $namespace: shadow);


// transitions
$transitions: (
  fade: .3s ease-out,
  move: .8s cubic-bezier(.25, .05, .5, .9),
  enter: .8s cubic-bezier(0, .24, .5, 1),
  transform: .2s,
);
// used by transition placeholders:
// @include lime-loop($transitions, transition, $namespace: transit);


// colors
$black: #000;
$gray20: #333;
$gray40: #666;
$white: #fff;

