// Hide Element
//
// Various techniques for hiding elements.
// 
// Placeholders:
// ```text
// Hide text offscreen
// Hide visually
// Hide visually but focusable
// ```
//
// _Tested : IE6-9, Firefox, Chrome, Safari_
//
// Adapted from [HTML5 Boilerplate](http://html5boilerplate.com/)
//
// Styleguide 3.5

// Hide text off screen
%hide-text-offscreen {
  @extend %do-show;
  @extend %overflow-hidden;
  @extend %white-space-nowrap;

  text-indent: 100%;
}

// Hide only visually, but have it available for screen readers: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
%hide-visually {
  @extend %position-absolute;
  @extend %overflow-hidden;
  @extend %padding-reset;
  @extend %border-none;

  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: https://www.drupal.org/node/897638
%hide-visually-focusable {
  @include hover-active-focus($state: no-hover) {
    @extend %hide-visually;
    @extend %position-static;
    @extend %height-auto;
    @extend %width-auto;
    @extend %margin-reset;
    @extend %overflow-visible;
  
    clip: auto;
  }
}

