// px to em
//
// Converts a px value to em, accepts an array.
//
// Parameters:
// ```scss
// $values : Number in px
// $context : Base font size. Predefined as $baseFontSize
// ```
// 
// Usage:
// ```scss
// .example {
//     padding: pxToEm(16 20 20 16, 18);
// }
// ```
//
// Adapted from [OOCSS](https://github.com/stubbornella/oocss) by stubbornella
//
// Styleguide 1.2

@function pxToEm ($values, $context: $baseFontSize) {
    $list: ();
  
    @each $value in $values {
        @if ($value == 0 or $value == auto) {
            $list: append($list, $value);
        }
        @else {
            $emValue: ( stripUnit($value) / stripUnit($context) ) * 1em;
            $list: append($list, $emValue);
        }
    }
    @return $list;
}

.example {
     padding: pxToEm(16px 20 20% 16, 18);
}

