// Px to Rem
//
// Converts a px value to rem. Accepts an array.
//
// Parameters:
// ```scss
// $values : Number in px
// ```
// 
// Usage:
// ```scss
// .example {
//     font-size: pxToRem(20);
// }
// ```
//
// Adapted from [OOCSS](https://github.com/stubbornella/oocss) by stubbornella
//
// Styleguide 1.3

@function pxToRem ($values) {
    $list: ();

    @each $value in $values {
        @if ($value == 0 or $value == auto) {
            $list: append($list, $value);
        }
        @else {
            $remValue: ( stripUnit($value) / stripUnit($baseFontSize) ) * 1rem;
            $list: append($list, $remValue);
        }
    }
    @return $list;
}

