// Font Face
//
// Allows easier custom fonts integration.
//
// Parameters:
// ```scss
// $font : font name
// $path : file path to web-font
// $weight : font-weight. Defaults to `normal`
// $style : font-style. Defaults to `normal`
// ```
// 
// Usage:
// ```scss
// @include font-face(SourceSansPro, '/fonts/Source_Sans_Pro/SourceSansPro-Regular');
// @include font-face(SourceSansPro, '/fonts/Source_Sans_Pro/SourceSansPro-italic', $style: italic);
// ```
//
// _**Note** : Order of the includes matters, and it is: normal, italic, bold, bold+italic._
//
// Adapted from [Bourbon](http://bourbon.io)
//
// Styleguide 2.5

@mixin font-face($font, $path, $weight: normal, $style: normal) {
  @font-face {
    font: {
      family: '#{$font}';font;
      weight: $weight;
      style: $style;
    }
    src: url('#{$path}.eot');
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$font}') format('svg');
  }
}

