/*------------------------------------*\
    $BOX PROPERTIES
\*------------------------------------*/

// Box Properties
//
// Control the presentation of generated boxes for document elements, including dimensions, margins, padding, and borders.
//
// Styleguide 3.1

// Dimensions
%height-auto {
  height: auto;
}

%height-100 {
  height: 100%;
}

%width-auto {
  width: auto;
}

%width-100 {
  height: 100%;
}

// Margins
%reset-marg {
  margin: 0;
}

%base-spacing {
  @include remFallback((
    (margin-bottom, $btm-marg),
  )); // Forced to use Rem because of context change
}

%center-block {
  @include chain(margin-right margin-left, auto);
}

// Paddings
%pad-reset {
  padding: 0;
}

%pad-gutter {
  @include remFallback((
    (padding-right, $doc-gutter),
    (padding-left, $doc-gutter),
  ));
}

// Borders
%border-dotted {
  border-style: dotted;
}

%border-dashed {
  border-style: dashed;
}

%border-solid {
  border-style: solid;
}

%border-double {
  border-style: double;
}

%border-none {
  border: 0;
}

// Outline
%outline-none {
  outline: none;
}


