/*--------------------------------------------------------------
  $HIDE ELEMENT
--------------------------------------------------------------*/

// Hide ELement
//
// Various techniques for hiding elements.
//
// _Tested : IE6-9, Firefox, Chrome, Safari_
//
// Adapted from [HTML5 Boilerplate](http://html5boilerplate.com/)
//
// Styleguide 3.5

// Hide text off screen
%hide-text-offscreen {
  @extend %do-show;
  @extend %overflow-hidden;
  @extend %white-space-nowrap;

  text-indent: 100%;
}

// Hide only visually, but have it available for screenreaders
%hide-visually {
  @extend %position-absolute;
  @extend %overflow-hidden;
  @extend %padding-reset;
  @extend %border-none;

  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  width: 1px;
}

// Extends %hide-element-visually to allow the element to be focusable when navigated to via the keyboard
%hide-visually-focusable {
  @include hover-active-focus($state: no-hover) {
    @extend %position-static;
    @extend %hide-visually;
    @extend %height-auto;
    @extend %width-auto;
    @extend %margin-reset;
    @extend %overflow-visible;
  
    clip: auto;
  }
}

