/*------------------------------------*\
    $TYPOGRAPHICAL PROPERTIES
\*------------------------------------*/

// Typographical Properties
//
// Customize the presentation and layout of textual content.
//
// Styleguide 3.4

// font-family
%font-body {
  font-family: $font-body;
}

%font-title {
  font-family: $font-title;
}

// font-size & line-height
%giga {
  font-size: pxToEm($font-size-giga);
  line-height: pxToEm($line-height-giga, $font-size-giga);
}

%mega {
  font-size: pxToEm($font-size-mega);
  line-height: pxToEm($line-height-mega, $mega);
}

%kilo {
  font-size: pxToEm($font-size-kilo);
  line-height: pxToEm($line-height-kilo, $font-size-kilo);
}

%alpha {
  font-size: pxToEm($font-size-alpha);
  line-height: pxToEm($line-height-alpha, $font-size-alpha);
}

%beta {
  font-size: pxToEm($font-size-beta);
  line-height: pxToEm($line-height-beta, $font-size-beta);
}

%gamma {
  font-size: pxToEm($font-size-gamma);
  line-height: pxToEm($line-height-gamma, $font-size-gamma);
}

%delta {
  font-size: pxToEm($font-size-delta);
  line-height: pxToEm($line-height-delta);
}

%epsilon {
  font-size: pxToEm($font-size-epsilon);
  line-height: pxToEm($line-height-epsilon);
}

%zeta {
  font-size: pxToEm($font-size-zeta);
  line-height: pxToEm($line-height-zeta);
}

%milli {
  font-size: pxToEm($font-size-milli);
  line-height: pxToEm($line-height-milli, $font-size-milli);
}

// font-weight
%type-heading {
  font-weight: $type-heading;
}

%type-subheading {
  font-weight: $type-subheading;
}

%type-bold {
  font-weight: $type-bold;
}

%type-body {
  font-weight: $type-body;
}

// font-style
%italics {
  font-style: italic;
}

// text-align
%text-start {
  text-align: $text-start; // as backup
  text-align: start;
}

%text-end {
  text-align: $text-end; // as backup
  text-align: end;
}

%text-center {
  text-align: center;
}

%text-justify {
  text-align: justify;
}

// text-decoration
%text-decoration-none {
  text-decoration: none;
}

%text-decoration-underline {
  text-decoration: underline;
}

// text-transform
%text-transform-upper {
  text-transform: uppercase;
}

%text-transform-lower {
  text-transform: lowercase;
}

%text-transform-cap {
  text-transform: capitalize;
}

%text-transform-none {
  text-transform: none;
}

// text-shadow
%text-shadow-basic {
  text-shadow: 2px 4px 3px rgba(#000, .3);
}

%text-shadow-letterpress {
  text-shadow: 0 1px rgba(#fff, .87);
}

%text-shadow-hard {
  text-shadow: 6px 6px rgba(#000, .2);
}

%text-shadow-glowing {
  text-shadow: 0 0 6px rgba(#fff, .7);
}

// vertical-align
%align-top {
  vertical-align: top;
}

%align-mid {
  vertical-align: middle;
}

%align-btm {
  vertical-align: bottom;
}

// white-space
%white-space-normal {
  white-space: normal;
}

%white-space-nowrap {
  white-space: nowrap;
}


