/*------------------------------------*\
  $TYPOGRAPHICAL PROPERTIES
\*------------------------------------*/

// Typographical Properties
//
// Customize the presentation and layout of textual content.
//
// Styleguide 3.4

// font-family
@include loop-map($font, font-family, $namespace: font);

// font-size & line-height
%giga {
  font-size: list-map($font-size, giga);
  line-height: list-map($line-height, giga);
}

%mega {
  font-size: list-map($font-size, mega);
  line-height: list-map($line-height, mega);
}

%kilo {
  font-size: list-map($font-size, kilo);
  line-height: list-map($line-height, kilo);
}

%alpha {
  font-size: list-map($font-size, alpha);
  line-height: list-map($line-height, alpha);
}

%beta {
  font-size: list-map($font-size, beta);
  line-height: list-map($line-height, beta);
}

%gamma {
  font-size: list-map($font-size, gamma);
  line-height: list-map($line-height, gamma);
}

%delta {
  font-size: list-map($font-size, delta);
  line-height: list-map($line-height, delta);
}

%epsilon {
  font-size: list-map($font-size, epsilon);
  line-height: list-map($line-height, epsilon);
}

%zeta {
  font-size: list-map($font-size, zeta);
  line-height: list-map($line-height, zeta);
}

%milli {
  font-size: list-map($font-size, milli);
  line-height: list-map($line-height, milli);
}

// font-weight
@include loop-map($type, font-weight, $namespace: type);

// font-style
%italics {
  font-style: italic;
}

%normal {
  font-style: normal;
}

// text-align
%text-start {
  text-align: list-map($direction, start); // as backup
  text-align: start;
}

%text-end {
  text-align: list-map($direction, end); // as backup
  text-align: end;
}

%text-center {
  text-align: center;
}

%text-justify {
  text-align: justify;
}

%text-inherit {
  text-align: inherit;
}

// text-decoration
%text-decoration-none {
  text-decoration: none;
}

%text-decoration-underline {
  text-decoration: underline;
}

// text-transform
%text-transform-upper {
  text-transform: uppercase;
}

%text-transform-lower {
  text-transform: lowercase;
}

%text-transform-cap {
  text-transform: capitalize;
}

%text-transform-none {
  text-transform: none;
}

// text-shadow
%text-shadow-basic {
  text-shadow: 2px 4px 3px rgba(#000, .3);
}

%text-shadow-letterpress {
  text-shadow: 0 1px rgba(#fff, .87);
}

%text-shadow-hard {
  text-shadow: 6px 6px rgba(#000, .2);
}

%text-shadow-glowing {
  text-shadow: 0 0 6px rgba(#fff, .7);
}

// vertical-align
%align-top {
  vertical-align: top;
}

%align-mid {
  vertical-align: middle;
}

%align-btm {
  vertical-align: bottom;
}

// white-space
%white-space-normal {
  white-space: normal;
}

%white-space-nowrap {
  white-space: nowrap;
}

