// Box Model
//
// Sets all margin or padding properties in one declaration. Like a shorthand property the `$values` parameter can have from one to four values.
// 
// Parameters:
// ```scss
// $property  : `margin` or `padding`
// $values    : property values
// ```
// 
// Usage:
// ```scss
// .example {
//   @include lime-box(padding, 10px 3px);
// }
// 
// .example-1 {
//   @include lime-box(margin, 2px 12px 3px);
// }
// 
// .example-2 {
//   @include lime-box(margin, 2px null 3px null );
// }
// ```
//
// ***Note** : Escape values of `$values` parameter with `null`.*
// 
// **Requires** : _variables
//
// Styleguide 2.7

@mixin lime-box($property, $values) {
  @if length($values) != 1 {
    @if length($values) == 2 {
      $value1: nth($values, 1);
      $value2: nth($values, 2);
      $value3: nth($values, 1);
      $value4: nth($values, 2);
      
      @if $value1 != null {
        #{$property}-top: $value1;
      }
      @if $value2 != null {
        #{$property}-#{map-get($direction, end)}: $value2;
      }
      @if $value3 != null {
        #{$property}-bottom: $value3;
      }
      @if $value4 != null {
        #{$property}-#{map-get($direction, start)}: $value4;
      }
    } @else if length($values) == 3 {
      $value1: nth($values, 1);
      $value2: nth($values, 2);
      $value3: nth($values, 3);
      $value4: nth($values, 2);
      
      @if $value1 != null {
        #{$property}-top: $value1;
      }
      @if $value2 != null {
        #{$property}-#{map-get($direction, end)}: $value2;
      }
      @if $value3 != null {
        #{$property}-bottom: $value3;
      }
      @if $value4 != null {
        #{$property}-#{map-get($direction, start)}: $value4;
      }
    } @else if length($values) == 4 {
      $value1: nth($values, 1);
      $value2: nth($values, 2);
      $value3: nth($values, 3);
      $value4: nth($values, 4);
      
      @if $value1 != null {
        #{$property}-top: $value1;
      }
      @if $value2 != null {
        #{$property}-#{map-get($direction, end)}: $value2;
      }
      @if $value3 != null {
        #{$property}-bottom: $value3;
      }
      @if $value4 != null {
        #{$property}-#{map-get($direction, start)}: $value4;
      }
    } @else {
      @warn 'Values are out of bounds. Properties omitted.';
    }
  } @else {
    $value1: $values;
    $value2: $values;
    $value3: $values;
    $value4: $values;
    
    #{$property}-top: $value1;
    #{$property}-#{map-get($direction, end)}: $value2;
    #{$property}-bottom: $value3;
    #{$property}-#{map-get($direction, start)}: $value4;
  }
}

