// Font Face
//
// Generate an @font-face declaration.
//
// Parameters:
// ```scss
// $font    : font name
// $path    : file path to web-font
// $weight  : `font-weight`. Defaults to `normal`
// $style   : `font-style`. Defaults to `normal`
// ```
// 
// Usage:
// ```scss
// @include lime-font(SourceSansPro, '/fonts/Source_Sans_Pro/SourceSansPro-Regular');
// @include lime-font(SourceSansPro, '/fonts/Source_Sans_Pro/SourceSansPro-italic', $style: italic);
// ```
//
// ***Note** : To support all modern browsers while optimizing for performance and speed, assumed font file formats are `woff2 woff`.
//
// Adapted from [Bourbon](http://bourbon.io/docs/#font-face)
//
// Styleguide 2.6

@mixin lime-font($font, $path, $weight: normal, $style: normal) {
  @font-face {
    font: {
			family: '#{$font}';
			weight: $weight;
			style: $style;
    }
    src: url('#{$path}.woff2') format('woff2'), url('#{$path}') format('woff');
  }
}

