// px to rem
//
// Converts a px value to rem, accepts a list.
//
// Parameters:
// ```scss
// $values : Number in px
// ```
// 
// Usage:
// ```scss
// .example {
//   font-size: px-to-rem(16px) * 4;
// }
//
// .example2 {
//   padding: px-to-rem(16px 12 20% 1em);
// }
// ```
//
// **Requires** : _variables, _stripUnit
//
// Adapted from [OOCSS](https://github.com/stubbornella/oocss)
//
// Styleguide 1.3

@function px-to-rem($values) {
  $list: ();
  @each $value in $values {
    // Ignore unitless values, auto and other units except px
    @if $value != auto and unit($value) == px {
      $rem-value: (strip-unit($value) / strip-unit($base-font-size)) * 1rem;
      $list: append($list, $rem-value);
    } @else {
      $list: append($list, $value);
    }
  }
  // Return a single value instead of a list,
  // so it can be used in calculations
  @if length($list) == 1 {
    @return nth($list, 1);
  } @else {
    @return $list;
  }
}

