// px to em
//
// Converts a px value to em, accepts a list.
//
// Parameters:
// ```scss
// $values  : Number in px
// $context : Base font size, in em or px. Predefined as $doc-font-size
// ```
// 
// Usage:
// ```scss
// .example {
//   padding: px-to-em(12px, 16) * 3;
// }
//
// .example2 {
//   padding: px-to-em(16px 20 20% 1em, 1em);
// }
// ```
//
// **Requires** : _variables, _stripUnit
//
// Adapted from [SCUT](http://davidtheclark.github.io/scut) and [OOCSS](https://github.com/stubbornella/oocss)
//
// Styleguide 1.2

@function px-to-em($values, $context: $doc-font-size) {
  // Adjust accordingly to create a $divisor that
  // serves as context for $pixels.
  $multiplier: if(unit($context) == em, $doc-font-size, 1);
  $divisor: strip-unit($context) * $multiplier;
  $list: ();
  @each $value in $values {
    // Ignore unitless values and units except px
    @if unit($value) == px {
      $em-value: strip-unit($value) / $divisor * 1em;
      $list: append($list, $em-value);
    } @else {
      $list: append($list, $value);
    }
  }
  // Return a single value instead of a list,
  // so it can be used in calculations
  @if length($list) == 1 {
    @return nth($list, 1);
  } @else {
    @return $list;
  }
}

