// rem Fallback
//
// Provide px fallback for rem values. Allows 
//
// Parameters:
// ```scss
// $values : Number in px
// $property: CSS property
// ```
// 
// Usage:
// ```scss
// .example {
//     @include remFallback(
//         height: 240,
//         width: 300,
//         padding: 20,
//         margin: 0 10,

// }
// ```
//
// Adapted from [OOCSS](https://github.com/stubbornella/oocss) by stubbornella
//
// Styleguide 2.1

@function pxToRem ($values) {
    $list: ();

    @each $value in $values {
        @if ($value == 0 or $value == auto) {
            $list: append($list, $value);
        }
        @else {
            $remValue: ( stripUnit($value) / stripUnit($baseFontSize) ) * 1rem;
            $list: append($list, $remValue);
        }
    }
    @return $list;
}

