// Box Properties
//
// Control the presentation of generated boxes for document elements.
//
// Properties:
// ```css
// Width
// Margin
// Padding
// Border
// Outline
// ```
// 
// **Requires** : _variables, _loop, _pxtoem, _chain
// 
// Styleguide 3.1

// Width
%width-100 {
  width: 100%;
}

%width-min {
  min-width: lime-em(map-get($breakpoints, little));
}


// Margin
%margin-reset {
  margin-top: 0;
}

%margin-center {
  @include lime-chain(margin-right margin-left, auto);
}

%margin-nest {
  @include lime-chain(margin-right margin-left, -$doc-gutter);
}


// Padding
%padding-dflt {
  padding-right: $doc-gutter;
  padding-left: $doc-gutter;
}

%padding-half {
  padding-top: $doc-baseline / 2;
  padding-right: $doc-gutter;
  padding-bottom: $doc-baseline / 2;
  padding-left: $doc-gutter;
}

%padding-full {
  padding-top: $doc-baseline;
  padding-right: $doc-gutter;
  padding-bottom: $doc-baseline;
  padding-left: $doc-gutter;
}


// Border
%brdr-dotted {
  border-style: dotted;
}

%brdr-dashed {
  border-style: dashed;
}

%brdr-solid {
  border-style: solid;
}

%brdr-double {
  border-style: double;
}


// Border Radii
@include lime-loop($radii, border-radius, $namespace: radii);


// Outline
%outline-dotted {
  outline-style: dotted;
}

%outline-solid {
  outline-style: solid;
}

%outline-none {
  outline: none;
}

