// Presentational Effects
//
// Define presentational effects for document elements.
//
// Effects:
// ```text
// Animations
// Shadows
// Transitions
// ```
// **Requires** : _variables, _loop
// 
// Styleguide 3.7

// Animations
%animated {
  animation-duration: .3s;
  animation-fill-mode: both;
}


// Shadows
@include lime-loop($shadows, box-shadow, $namespace: shadow);


// Transitions
@include lime-loop($transitions, transition, $namespace: transit);

%transit-none {
  transition: none;
}

