// Hide Element
//
// Various techniques for hiding elements.
// 
// Placeholders:
// ```text
// Hide text offscreen
// Hide visually
// Hide visually but focusable
// ```
//
// _Tested : IE6-9, Firefox, Chrome, Safari_
//
// Adapted from [HTML5 Boilerplate](http://html5boilerplate.com/)
//
// Styleguide 3.5

// Hide text offscreen
%hide-offscreen {
  @extend %do-show;
  @extend %ovf-hidden;
  @extend %ws-nowrap;

  text-indent: 100%;
}

// Hide only visually, but have it available for screen readers: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
%hide-visually {
  @extend %pos-absolute;
  @extend %ovf-hidden;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}


// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: https://www.drupal.org/node/897638
%hide-focusable {
  @include hover-active-focus($state: no-hover) {
    @extend %hide-visually;
    @extend %pos-static;
    @extend %ovf-visible;

    width: auto;
    height: auto;
    margin: 0;
  
    clip: auto;
  }
}

