// Layout Properties
//
// Control visibility, position, and behavior of the generated boxes for document elements.
// 
// Properties:
// ```css
// Display
// Position
// Float
// Clear
// Visibility
// Position Coordinates
// z-index
// Overflow
// ```
//
// Styleguide 3.2

// Display
%do-show {
  display: block;
}

%do-inline {
  display: inline-block;
}

%do-table {
  display: table;
}

%do-cell {
  display: table-cell;
}

%do-flex {
  display: flex;
}

%do-hide {
  display: none;
}


// Position
%position-relative {
  position: relative;
}

%position-absolute {
  position: absolute;
}

%position-fixed {
  position: fixed;
}

%position-static {
  position: static;
}


// Float
@include loop($direction, float, float);

%float-none {
  float: none;
}


// Clear
@include loop($direction, clear, clear);

%clear-both {
  clear: both;
}

%clear-none {
  clear: none;
}


// Visibility
%visibility-visible {
  visibility: visible;
}

%visibility-collapse {
  visibility: collapse;
}

%visibility-hidden {
  visibility: hidden;
}


// Position Coordinates
%position-all {  
  @include chain(top right bottom left, 0);
}

%position-vertical {
  @include chain(top bottom, 0);
}

%position-horizontal {
  @include chain(right left, 0);
}


// z-index
@include loop($z, z-index, depth);


// Overflow
%overflow-visible {
  overflow: visible;
}

%overflow-auto {
  overflow: auto;
}

%overflow-hidden {
  overflow: hidden;
}

