// Layout Properties
//
// Control visibility, position, and behavior of the generated boxes for document elements.
// 
// Properties:
// ```css
// Display
// Position
// Float
// Clear
// Visibility
// Offset
// z-index
// Overflow
// ```
//
// **Requires** : _variables, _loop, _chain
//
// Styleguide 2.2

// Display
%do-show {
  display: block;
}

%do-inline {
  display: inline-block;
}

%do-table {
  display: table;
}

%do-cell {
  display: table-cell;
}

%do-flex {
  display: flex;
}

%do-hide {
  display: none;
}


// Position
%pos-relative {
  position: relative;
}

%pos-absolute {
  position: absolute;
}

%pos-fixed {
  position: fixed;
}

%pos-static {
  position: static;
}


// Float
@include lime-loop($direction, float, float);

%float-none {
  float: none;
}


// Clear
@include lime-loop($direction, clear, clear);

%clear-both {
  clear: both;
}

%clear-none {
  clear: none;
}


// Visibility
%v-visible {
  visibility: visible;
}

%v-collapse {
  visibility: collapse;
}

%v-hidden {
  visibility: hidden;
}


// Offset
%offset-all {
  @include lime-chain(top right bottom left, 0);
}


// z-index
@include lime-loop($z, z-index, depth);


// Overflow
%ovf-visible {
  overflow: visible;
}

%ovf-auto {
  overflow: auto;
}

%ovf-hidden {
  overflow: hidden;
}

