/*--------------------------------------------------------------
  $TYPOGRAPHICAL PROPERTIES
--------------------------------------------------------------*/

// Typographical Properties
//
// Customize the presentation and layout of textual content.
// 
// Properties:
// ```css
// font-family
// font-size & line-height
// font-weight
// font-style
// text-align
// text-decoration
// text-transform
// text-shadow
// vertical-align
// white-space
// text-overflow
// line-height
// ```
//
// Styleguide 3.4


// font-size & line-height
%giga {
  font-size: map-get($font-size, giga);
  line-height: map-get($line-height, giga);
}

%mega {
  font-size: map-get($font-size, mega);
  line-height: map-get($line-height, mega);
}

%kilo {
  font-size: map-get($font-size, kilo);
  line-height: map-get($line-height, kilo);
}

%alpha {
  font-size: map-get($font-size, alpha);
  line-height: map-get($line-height, alpha);
}

%beta {
  font-size: map-get($font-size, beta);
  line-height: map-get($line-height, beta);
}

%gamma {
  font-size: map-get($font-size, gamma);
  line-height: map-get($line-height, gamma);
}

%delta {
  font-size: map-get($font-size, delta);
  line-height: map-get($line-height, delta);
}

%epsilon {
  font-size: map-get($font-size, epsilon);
  line-height: map-get($line-height, epsilon);
}

%zeta {
  font-size: map-get($font-size, zeta);
  line-height: map-get($line-height, zeta);
}

%milli {
  font-size: map-get($font-size, milli);
  line-height: map-get($line-height, milli);
}


// font-weight
@include loop($type, font-weight, $namespace: type);


// font-style
%normal {
  font-style: normal;
}

%italics {
  font-style: italic;
}


// text-align
%text-inherit {
  text-align: inherit;
}

%text-start {
  text-align: map-get($direction, start); // as backup
  text-align: start;
}

%text-end {
  text-align: map-get($direction, end); // as backup
  text-align: end;
}

%text-center {
  text-align: center;
}

%text-justify {
  text-align: justify;
}


// text-decoration
%text-decoration-none {
  text-decoration: none;
}

%text-decoration-underline {
  text-decoration: underline;
}


// text-transform
%text-transform-upper {
  text-transform: uppercase;
}

%text-transform-lower {
  text-transform: lowercase;
}

%text-transform-cap {
  text-transform: capitalize;
}

%text-transform-none {
  text-transform: none;
}


// text-shadow
%text-shadow-basic {
  text-shadow: 2px 4px 3px rgba(#000, .3);
}

%text-shadow-letterpress {
  text-shadow: 0 1px rgba(#fff, .87);
}

%text-shadow-hard {
  text-shadow: 6px 6px rgba(#000, .2);
}

%text-shadow-glowing {
  text-shadow: 0 0 6px rgba(#fff, .7);
}


// vertical-align
%align-top {
  vertical-align: top;
}

%align-text-top {
  vertical-align: text-top;
}

%align-text-btm {
  vertical-align: text-bottom;
}

%align-mid {
  vertical-align: middle;
}

%align-btm {
  vertical-align: bottom;
}

%align-base {
  vertical-align: baseline;
}


// white-space
%white-space-normal {
  white-space: normal;
}

%white-space-nowrap {
  white-space: nowrap;
}


// text-overflow
%text-overflow-ellipsis {
  text-overflow: ellipsis;
}


// line-height
%line-height-reset {
  line-height: 100%;
}

%line-height-normal {
  line-height: $doc-line-height;
}

