// Typographical Properties
//
// Customize the presentation and layout of textual content.
// 
// Properties:
// ```css
// font-size
// font-family
// font-weight
// font-style
// text-align
// text-decoration
// text-transform
// vertical-align
// white-space
// text-overflow
// line-height
// ```
//
// **Requires** : _variables, _loop
// 
// Styleguide 3.4


// font-size
%zeta {
  font-size: map-get($font-size, zeta);
  line-height: map-get($line-height, zeta);
}

%milli {
  font-size: map-get($font-size, milli);
  line-height: map-get($line-height, milli);
}

%epsilon {
  font-size: map-get($font-size, epsilon);
  line-height: map-get($line-height, epsilon);
}

%delta {
  font-size: map-get($font-size, delta);
  line-height: map-get($line-height, delta);
}

%gamma {
  font-size: map-get($font-size, gamma);
  line-height: map-get($line-height, gamma);
}

%beta {
  font-size: map-get($font-size, beta);
  line-height: map-get($line-height, beta);
}

%alpha {
  font-size: map-get($font-size, alpha);
  line-height: map-get($line-height, alpha);
}

%kilo {
  font-size: map-get($font-size, kilo);
  line-height: map-get($line-height, kilo);
}

%mega {
  font-size: map-get($font-size, mega);
  line-height: map-get($line-height, mega);
}

%giga {
  font-size: map-get($font-size, giga);
  line-height: map-get($line-height, giga);
}


// font-family
@include lime-loop($font, font-family, $namespace: font);


// font-weight
@include lime-loop($type, font-weight, $namespace: type);


// font-style
%txt-normal {
  font-style: normal;
}

%txt-italics {
  font-style: italic;
}


// text-align
%txt-start {
  text-align: map-get($direction, start);
  text-align: start;
}

%txt-end {
  text-align: map-get($direction, end);
  text-align: end;
}

%txt-center {
  text-align: center;
}

%txt-justify {
  text-align: justify;
}


// text-decoration
%txt-nodecoration {
  text-decoration: none;
}

%txt-underline {
  text-decoration: underline;
}


// text-transform
%txt-uppercase {
  text-transform: uppercase;
}

%txt-lowercase {
  text-transform: lowercase;
}

%txt-cap {
  text-transform: capitalize;
}

%txt-notransform {
  text-transform: none;
}


// vertical-align
%align-top {
  vertical-align: top;
}

%align-mid {
  vertical-align: middle;
}

%align-btm {
  vertical-align: bottom;
}

%align-base {
  vertical-align: baseline;
}


// white-space
%ws-normal {
  white-space: normal;
}

%ws-nowrap {
  white-space: nowrap;
}


// line-height
%lh-reset {
  line-height: 100%;
}

%lh-normal {
  line-height: map-get($line-height, zeta);
}

